In [ ]:
# https://github.com/Pankaj-Str/R-Programming-Tutorial/tree/main/04%20Day%20R%20Data%20Types

In [ ]:
# R Comments
# R Variables and Constants

name <- "joy"
print(name)

age = 45
print(age)

[1] "joy"
[1] 45

In [ ]:
age <- 30            # Integer
temperature <- 98.6  # Double
name <- "Alice"      # String
is_student <- TRUE   # Logical (TRUE or FALSE)

In [ ]:
# R Data types

# Numeric
x <- 42      # Integer
y <- 3.1415  # Double (floating-point)
# Character
name <- "Alice"
message <- 'Hello, World!'
# Logical
is_student <- TRUE
is_adult <- FALSE
# Integer
count <- as.integer(10)
# Complex
complex_num <- 3 + 2i
# Factor
gender <- factor(c("Male", "Female", "Male", "Female"))
# Date and Time
birthdate <- as.Date("1995-03-15")
current_time <- Sys.time()
# Vector
numbers <- c(1, 2, 3, 4, 5)
# List
person <- list(Name = "Alice", Age = 28, isStudent = TRUE)
# Data Frame
data <- data.frame(Name = c("Alice", "Bob", "Charlie"),
                   Age = c(28, 35, 22))

In [ ]:
# R Print Output and Input
print("codeswithpankaj.com")

[1] "codeswithpankaj.com"

In [ ]:
cat("p4n")

p4n

In [ ]:
a <- 10
b <- 20
cat("The sum of a and b is:", a + b, "\n")

The sum of a and b is: 30

In [ ]:
a <- 10
b <- 20
c = paste("The sum of a and b is:", a + b)
print(c)

[1] "The sum of a and b is: 30"

In [ ]:
name <- "Bob"
age <- 35
output <- sprintf("Name: %s, Age: %d", name, age)
cat(output, "\n")

Name: Bob, Age: 35

In [ ]:
write("Hello, World!", file = "output.txt")

In [ ]:
# Take user input in R
# Prompt the user for input
user_input <- readline("Enter something: ")

# Display the user's input
cat("You entered:", user_input, "\n")

Enter something: joy
You entered: joy

In [ ]:
# Add two numbers
print(1 + 2)

# Subtract one number from another
print(5 - 3)

# Multiply two numbers
print(2 * 3)

# Divide one number by another
print(10 / 2)

# Raise one number to the power of another
print(2 ^ 3)

# Find the remainder when one number is divided by another
print(10 %% 3)

# Find the quotient of the division, discarding the remainder
print(10 %/% 3)

[1] 3
[1] 2
[1] 6
[1] 5
[1] 8
[1] 1
[1] 3

In [ ]:
# Check if two numbers are equal
print(1 == 2)

# Check if two numbers are not equal
print(1 != 2)

# Check if one number is less than another
print(1 < 2)

# Check if one number is greater than another
print(1 > 2)

# Check if one number is less than or equal to another
print(1 <= 2)

# Check if one number is greater than or equal to another
print(1 >= 2)

In [ ]:
# Check if a number is not equal to zero
print(34 != 56)

# Check if two numbers are both greater than zero
print(1 > 0 & 2 > 0)

# Check if at least one number is greater than zero
print(1 > 0 | 2 < 0)

# && (Short-circuit AND): Evaluates the second condition only if the first is TRUE.

# left side | right side  | Result
#     TRUE  |   TRUE      | TRUE
#     TRUE  |   FALSE     | FALSE
#     FALSE |   TRUE      | FALSE
#     FALSE |   FALSE     | FALSE

print(45 < 88 && 34 <= 23)

# || (Short-circuit OR): Evaluates the second condition only if the first is FALSE.
# left side | right side  | Result
#     TRUE  |   TRUE      | TRUE
#     TRUE  |   FALSE     | TRUE
#     FALSE |   TRUE      | TRUE
#     FALSE |   FALSE     | FALSE

print(45 < 88 || 34 <= 23)

# Example : --->
print(34 < 90 && 56==56 || 23 <= 23 && 23 != 23 || 230 < 45)
#       t           t         f           f           f
#             t
#                       t
#                               f
#                                           f

# Example : <---
print(34 < 90 && 56==56 || 23 <= 23 && 23 != 23 || 230 < 45)
#       t           t         f           f           f
#                                               f
#                                   f
#                         t
#             t

[1] TRUE
[1] TRUE
[1] TRUE
[1] FALSE
[1] TRUE
[1] TRUE

In [ ]:
# Example 1: Simple if...else
x <- 10

if (x > 5) {
  cat("x is greater than 5.\n")
} else {
  cat("x is not greater than 5.\n")
}

x is greater than 5.

In [ ]:
# Date : 18 - 12 - 2023

# R ifelse() Function

# ifelse(test_expression, yes_expression, no_expression)

ifelse(45%%2==0,'Number is evan','Number is odd')

[1] "Number is odd"

In [ ]:
# Example: Using ifelse() to categorize exam scores
scores <- c(78, 92, 64, 88, 75)
grades <- ifelse(scores >= 90, "A", ifelse(scores >= 80, "B", ifelse(scores >= 70, "C", "D")))

# Print the result
cat("Grades:", grades, "\n")

Grades: C A D B C

In [ ]:
# R for Loop

# for (variable in sequence) {
   # Code to be executed for each element in the sequence
# }

for(i in 1:10){
  cat(i,'\n')
}

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Example: Using a for loop to iterate through elements in a vector
fruits <- c("apple", "banana", "cherry", "date")

for (fruit in fruits) {
  cat("Fruit:", fruit, "\n")
}

Fruit: apple
Fruit: banana
Fruit: cherry
Fruit: date

In [ ]:
for(i in 1:10){
  cat(i*2,'\n')
}

2
4
6
8
10
12
14
16
18
20

In [ ]:
# while (condition) {
#   # Code to be executed while the condition is TRUE
#   # The condition should eventually become FALSE to exit the loop
# }

# start point
# end point
# output
# ++ /--

i <- 1
while(i <= 10){
  cat(i,' \n')
  i = i + 1
}

1
2
3
4
5
6
7
8
9
10

In [ ]:
# R repeat Loop
#repeat {
  # Code to be executed repeatedly
#  if (condition) {
#    break  # Terminate the loop if the condition is met
#  }
#}

In [ ]:
# Example: Using a repeat loop to count from 1 to 5
count <- 1

repeat {
  cat("Count:", count, "\n")
  count <- count + 1
  if (count > 5) {
    break  # Terminate the loop when count reaches 5
  }
}

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [ ]:
i <- 1
while(TRUE){
  if(i < 100){
    cat("\n*******",i)
    #next;

  }else{
    cat("\nthis is numbers : ",i)
    break;
  }
  i = i + 1

}

******* 1
******* 2
******* 3
******* 4
******* 5
******* 6
******* 7
******* 8
******* 9
******* 10
******* 11
******* 12
******* 13
******* 14
******* 15
******* 16
******* 17
******* 18
******* 19
******* 20
******* 21
******* 22
******* 23
******* 24
******* 25
******* 26
******* 27
******* 28
******* 29
******* 30
******* 31
******* 32
******* 33
******* 34
******* 35
******* 36
******* 37
******* 38
******* 39
******* 40
******* 41
******* 42
******* 43
******* 44
******* 45
******* 46
******* 47
******* 48
******* 49
******* 50
******* 51
******* 52
******* 53
******* 54
******* 55
******* 56
******* 57
******* 58
******* 59
******* 60
******* 61
******* 62
******* 63
******* 64
******* 65
******* 66
******* 67
******* 68
******* 69
******* 70
******* 71
******* 72
******* 73
******* 74
******* 75
******* 76
******* 77
******* 78
******* 79
******* 80
******* 81
******* 82
******* 83
******* 84
******* 85
******* 86
******* 87
******* 88
******* 89
******* 90
******* 91
******* 92
******* 93
******* 94
******* 95
******* 96
******* 97
******* 98
******* 99
this is numbers :  100

In [ ]:
# function  basic

info <- function(){
  cat("your name is : kanchan")
}

info()

your name is : kanchan

In [ ]:
# arg function

user_info <- function(name,age,height){

    cat("\n name : ",name)
    cat("\n age : ",age)
    cat("\n height : ",height)

}

In [ ]:
user_info("kanchan",21,5.6)
user_info("joy",23,5.6)

 name :  kanchan
 age :  21
 height :  5.6
 name :  joy
 age :  23
 height :  5.6

In [ ]:
# Example :
bill  <- function(price,gst){
    gst_amount <- price*gst/100
    total_amount <- price+gst_amount
    cat("\n------------bill-----------\n")
    cat("\n Price : ",price,"₹")
    cat("\n GST : ",gst,"%")
    cat("\n GST Amount : ",gst_amount,"₹")
    cat("\n MRP - Include GST : ",total_amount,"₹")

}

In [ ]:
bill(1200,18)
bill(24567,9)
bill(4500,2)

------------bill-----------

 Price :  1200 ₹
 GST :  18 %
 GST Amount :  216 ₹
 MRP - Include GST :  1416 ₹
------------bill-----------

 Price :  24567 ₹
 GST :  9 %
 GST Amount :  2211.03 ₹
 MRP - Include GST :  26778.03 ₹
------------bill-----------

 Price :  4500 ₹
 GST :  2 %
 GST Amount :  90 ₹
 MRP - Include GST :  4590 ₹

In [ ]:
# Date : 27 Dec 2023

# Creating strings
string1 <- "Hello, World!"  # Using double quotes
string2 <- 'R Programming'  # Using single quotes

In [ ]:
# Concatenating strings
str1 <- "Hello"
str2 <- "World"
concatenated <- paste(str1,str2)
cat("Concatenated:", concatenated, "\n")

Concatenated: Hello World

In [ ]:
# Finding the length of a string
text <- "This is a sample string."
length_text <- nchar(text)
cat("Length of the string:", length_text, "\n")

Length of the string: 24

In [ ]:
# Extracting substrings
text <- "codeswithpankaj.com"
substring <- substr(text, start = 2, stop = 10)
cat("Substring:", substring, "\n")

Substring: odeswithp

In [ ]:
# Converting to lowercase
text <- "Hello, World!"
lower_text <- tolower(text)
cat("Lowercase:", lower_text, "\n")

Lowercase: hello, world!

In [ ]:
# String comparison
text1 <- "apple"
text2 <- "banana"
result <- text1 > text2
cat("Comparison result:", result, "\n")

Comparison result: FALSE

In [ ]:
# String interpolation
name <- "Alice"
age <- 30
greeting <- sprintf("Hello, my name is %s and I am %d years old.", name, age)
cat("Greeting:", greeting, "\n")

Greeting: Hello, my name is Alice and I am 30 years old.

In [ ]:
# Splitting and joining strings
text <- "apple,banana,cherry"
split_text <- strsplit(text, ",")[[1]]
joined_text <- paste(split_text, collapse = " - ")
cat("Joined text:", joined_text, "\n")

Joined text: apple - banana - cherry

In [ ]:
# R Vectors

# Creating numeric vectors
numeric_vector <- c(1, 2, 3, 4, 5)

# Creating character vectors
character_vector <- c("apple", "banana", "cherry")

# Creating logical vectors
logical_vector <- c(TRUE, FALSE, TRUE, FALSE)

In [ ]:
# Arithmetic operations on numeric vectors
vector1 <- c(1, 2, 3)
vector2 <- c(4, 5, 6)
result_addition <- vector1 + vector2
result_multiplication <- vector1 * vector2
cat("\n add ",result_addition)
cat("\n mul ",result_multiplication)

# Element-wise comparisons on numeric vectors
comparison_result <- vector1 > vector2

# Logical operations on logical vectors
logical_result <- vector1 < 3 & vector2 >= 5

 add  5 7 9
 mul  4 10 18

In [ ]:
# Accessing elements of a vector
numeric_vector <- c(10, 20, 30, 40, 50)
first_element <- numeric_vector[1]
third_element <- numeric_vector[3]
cat(first_element)
cat(third_element)

1030

In [ ]:
# Vector functions
numeric_vector <- c(10, 20, 30, 40, 50)
vector_length <- length(numeric_vector)
vector_sum <- sum(numeric_vector)
vector_mean <- mean(numeric_vector)

In [ ]:
# Vectorized operations
numeric_vector <- c(1, 2, 3, 4, 5)
square_vector <- numeric_vector^4
cat(square_vector)

1 16 81 256 625

In [ ]:
# Assigning names to vector elements
vector <- c(a = 10, b = 20, c = 30)

In [ ]:
# Creating a factor
gender <- c("aemale","ale")
gender_factor <- factor(gender)
cat(gender_factor)

1 2